PORT=3000
#MONGO
MONGO_PORT=27017
MONGO_DOMAIN="localhost"
MONGO_USERNAME="mongo-user"
MONGO_PASSWORD="mongo-password"
MONGO_DB="campus"
MONGO_AUTHSOURCE="admin" #authentification db, leave as admin if user is mongo user.